.clickspot{
	text-decoration:underline;
	color:blue;
	cursor:pointer
}
.status{
	background-color:lightskyblue;
}
.error{
	color:Red;
	background-color:light
}

.menuitem {
	text-decoration:underline;
	cursor:hand
}
.menuitem:hover{
	text-decoration:underline;
	cursor:hand;
	font-weight:bold;
	background-color:Silver
}

#pageheader
{
    height: 1in;
    background-color: white;
    color: teal;
    font-weight: bold;
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

#maintable{
    width: 100%;
}
#mainnav{
    /*padding-top:20px;*/
	width:20%;
	vertical-align:top;

    /*border:1px solid olive;*/
}

.nav{
    border-bottom: 2px;
    border-bottom-style: solid;
    /*border-style: solid;*/
    padding-top: 10%;
    padding-bottom: 10%;
    /*border-radius: 5px;*/
    text-align: center;
    font-size: large;
    background: slategray;
}
#content {
	width:10in;
	vertical-align:top
	
}


#txtsearch{
    float: right;
}
#content #divPageMenu{

    background-color: teal;
    color: antiquewhite;
    font-size: large;
}

#divContent{
    padding-left: 30%;
}

.reportTable 
{
    
    border:1px;
    border-collapse:collapse;
}

.reportTable .header
{
    padding: 10%;
    background-color: teal;
    text-transform: uppercase;
    color: White;
}

.reportTable .row1
{
    background-color: antiquewhite;
    /*color: white;*/
}

.reportTable .row2
{
    text-align: center;
    background-color:teal;
    color: white;
}

.reportTable tr:hover
{
    background-color:royalblue;
}

.tableForm .label
{
    background-color: #CC6600;
    text-transform:capitalize;
    color: White;
    text-align:right;
}

.tableForm .field
{
    background-color: #FFAE35;
}
.popupMenu
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}

.popupMenu div
{
    color: #FFFFFF;
    text-decoration: underline;
}

.popupMenu div:hover
{
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #CC6600;
}

.popupForm
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}
